# Compiled output
/dist
/tmp

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#ingnores in git
node_modules/
dist/
.angular/
.env
.env.*
# src/environments/env.ts

# Documentation 
FRAMEWORK_WORKFLOW_DOCUMENT.md
*storybook.log
storybook-static
